body {

}

header {

}

a {
  text-decoration: none;
}

nav .container .brand {
  float: left;
  width: 25%;
}

ul.main-nav {
 display:block;
 float: right;
  width: 70%;
}

ul.main-nav li {
  list-style: none;
  float:left;
  width: 170px;
  background: slategrey;
  margin: 2px;
  padding: 8px;
  text-align: center;
}

ul.main-nav li a {
  font-size: 1.2em;
  color: #ffd;
}

ul.main-nav li a:hover {
  color: #ddd;
}

div.main {
  clear: both;
  min-height: 400px;
}

div.main a {
  background: cadetblue;
  font-size: small;
  font-weight: 700;
  color: palegreen;
  padding: 2px;
  margin-left: 4px;
  border-radius: 17%;
}

div.main a:hover{
  color: pink;
}

/*** FORMS  ***/
label,
input {
  display: block;
  width: 48%;
}

input {
  margin-bottom: 20px;
}

input[type="radio"] {
  width: auto;
}

footer {
  font-size: small;
}

li {
}


